extends layout

block content
  h1= title
  form(id='tigerForm', action="/resource/tiger", method="POST")
    div.form-group
      label.tigerAttr(for='tiger_color') tiger color
      input#tiger_color(type='text', name='tiger_color')
    div.form-group
      label.tigerAttr(for='tiger_breed') tiger_breed
      input#tiger_breed(type='text', name='tiger_breed')
    div.form-group
      label.tigerAttr(for='tiger_price') tiger_price
      input#tiger_price(type='number', name='tiger_price')
    button(class="btn btn-info m-2" onclick="create()") create
    script.
      document.forms['tigerForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error);
        });
      });